<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunway.webcore.dao.UrlPermissionMapper">

	<resultMap id="rolePermission" type="com.sunway.webcore.dto.CoreUrlPermissionDto">
		<result property="name" column="NAME" />
		<result property="url" column="PARAM" />
		<result property="role" column="ROLENAME" />
	</resultMap>

	<select id="selectAll" resultMap="rolePermission">
		select
		a。NAME, a.PARAM, r.NAME
		as ROLENAME
		from
		core_roles r, core_action a, core_role_action ra
		where
		r.ROLE_ID = ra.ROLE_ID and
		a.ACTION_ID = ra.ACTION_ID
	</select>
</mapper>